{% extends "data/base.html" %}
{% block content %}
    <h2>Пользователи</h2>
    <ul class="pb-2 list-group">
        {% for user in object_list %}
            {% if not user.is_superuser %}
                <li class="list-group-item">
                    {{ user.username }}
                    <div class="float-right action-buttons">
                        <a href="{% url 'user-update' user.pk %}" title="Сменить пароль для '{{ user.username }}'" class="fa fa-edit"></a>
                        <a href="{% url 'user-delete' user.pk %}" title="Удалить аккаунт '{{ user.username }}'" class="fa fa-trash"></a>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="border-top pt-3">
        <a class="btn btn-outline-info" href="{% url 'user-create' %}">Добавить пользователя</a>
    </div>
{% endblock %}
